{{ header }}
<div id="common-home" class="container-fluid px-3 px-lg-5">
  <div class="row">{{ column_left }}
    <div id="content" class="col px-0">{{ content_top }}{{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }}